body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}

#home {
    height: 100vh;
}

h1 {
    color: #17a2b8;
}

.group {
    box-shadow: -5px -5px 50px -5px rgba(0, 0, 0, 1);
}

input,
textarea {
    background-color: transparent ;
    color: white ;
}

input::placeholder,
textarea::placeholder {
    color:white;
}

/* input,
textarea {
    box-shadow: 0 0 0 0 transparent ;
} */